<head>
    <link rel="stylesheet" href="../public/css/Feed.css">
</head>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>
<div class="red">
    red
</div>
<div class="yellow">
    yellow
</div>