<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/NotificationPage.css" />
</head>

<body>
    <div class="notification-container">
    {{#each notifications}}
    {{> notification}}
    {{/each}}
    </div>
</body>
</html>