<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thông Báo</title>
  <link rel="stylesheet" href="./NotificationPage.css" />
  <script src="./NotificationPage.js"></script>
</head>

<body>
  <div class="container">
    <div class="notification-container">
      <div class="notification-card unread">
        <div class="icon">
          <img src="https://via.placeholder.com/40" alt="icon" />
        </div>
        <div class="right">
          <div class="header">
            <div class="user-name">Hornet</div>
            <div class="time">1m ago</div>
          </div>
          <p class="message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="unread-mark"></div>
      </div>

      <div class="notification-card unread">
        <div class="icon">
          <img src="https://via.placeholder.com/40" alt="icon" />
        </div>
        <div class="right">
          <div class="header">
            <div class="user-name">Isma</div>
            <div class="time">1m ago</div>
          </div>
          <p class="message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, natus debitis? Eos qui, soluta molestiae
            ratione aspernatur quasi suscipit facilis vitae velit iste explicabo in. Placeat eos perspiciatis fugiat
            obcaecati, magnam velit voluptatem soluta. Enim error aperiam consectetur totam illo, ex autem a vel
            incidunt ipsa mollitia. Nisi nesciunt magni beatae, minus tempore, tenetur placeat, deleniti eum ex officia
            nam.
          </p>
        </div>
        <div class="unread-mark"></div>
      </div>

      <div class="notification-card unread">
        <div class="icon">
          <img src="https://via.placeholder.com/40" alt="icon" />
        </div>
        <div class="right">
          <div class="header">
            <div class="user-name">Dryya</div>
            <div class="time">1m ago</div>
          </div>
          <p class="message">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem explicabo commodi, perspiciatis facilis
            suscipit deleniti doloremque earum dolore esse optio! Molestiae hic voluptas culpa id ullam in at cupiditate
            quo!
          </p>
        </div>
        <div class="unread-mark"></div>
      </div>

      <div class="notification-card unread">
        <div class="icon">
          <img src="https://via.placeholder.com/40" alt="icon" />
        </div>
        <div class="right">
          <div class="header">
            <div class="user-name">Vessel</div>
            <div class="time">1m ago</div>
          </div>
          <p class="message">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo fugit vitae similique possimus praesentium
            quis harum aut tempora at dolores, error minima sed cum necessitatibus quas! Explicabo est ab obcaecati nisi
            voluptates amet expedita minima aperiam, repudiandae fugiat enim consectetur eaque nostrum corporis, quidem
            maiores.
          </p>
        </div>
        <div class="unread-mark"></div>
      </div>
    </div>

  </div>
  </div>
</body>

</html>