<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../public/css/NotificationPage.css" />
</head>

<body>
    <div class="notification-container">
      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>

      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>

      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>

      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>

      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>

      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>

      <div class="notification-card unread">
        <div class="notification-icon">
          <img src="..\public\image\anonymous-user.jpg" alt="icon" />
        </div>
        <div class="notification-right">
          <div class="notification-header">
            <div class="notification-user-name">Hornet</div>
            <div class="notification-time">1m ago</div>
          </div>
          <p class="notification-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magni similique. Temporibus commodi quas
            alias autem inventore, cum debitis, accusantium aperiam cupiditate eum a quaerat nostrum quibusdam velit
            quam labore deserunt eius fugit harum natus unde et quos! Ea inventore quasi atque ut iure dolor iusto nihil
            numquam. Non, quos.
          </p>
        </div>
        <div class="notification-unread-mark"></div>
        <span class="close">&times;</span>
      </div>
    </div>
</body>
</html>