<head>
  <link rel="stylesheet" href="../public/css/Profile.css">
</head>


<div class="main">


  <div class="profile">
    <div class="profile__intro">

      <div class="name">
        <div class="name__realname">
          <h1 class="realname">Trần Đức Tùng</h1>
        </div>
        <div class="name__nickname">
          <span class="nickname">__td.tung</span>
        </div>
      </div>

      <div class="avatar">
        <img src="../public/image/avatar_1.0.jpg" alt="Avatar">
      </div>

    </div>

    <div class="quote">
      <span>bed boi.</span>
    </div>

    <div class="follower-panel">
      <div class="number-follower">
        <span>12 người theo dõi</span>
      </div>

      <div class="statistic">
        <svg aria-label="Thông tin chi tiết" role="img" viewBox="0 0 24 24" class="svg-icon" width="24" height="24">
          <title>Thông tin chi tiết</title>
          <rect fill="none" height="20" rx="5" stroke="currentColor" stroke-width="2" width="20" x="2" y="2"></rect>
          <rect fill="#FFFFFF" height="12" rx="1" width="2" x="11" y="6"></rect>
          <rect fill="#FFFFFF" height="9" rx="1" width="2" x="15" y="9"></rect>
          <rect fill="#FFFFFF" height="5" rx="1" width="2" x="7" y="13"></rect>
      </svg>     
      </div>

    </div>

  </div>



</div>