<div>
    <div class="flex p-6 gap-3 items-center">
      <div class="h-[44px] bg-[#0a0a0a] flex items-center w-full rounded-[16px] border border-[#333333]">
        <svg class="cursor-pointer p-2 ml-4" viewBox="0 0 26 26" width="32" height="32" onclick="document.getElementById('searchForm').submit();">
          <path
            clip-rule="evenodd"
            fill="#4a4a4a"
            d="M3.5 11.5C3.5 7.08172 7.08172 3.5 11.5 3.5C15.9183 3.5 19.5 7.08172 19.5 11.5C19.5 15.9183 15.9183 19.5 11.5 19.5C7.08172 19.5 3.5 15.9183 3.5 11.5ZM11.5 1C5.70101 1 1 5.70101 1 11.5C1 17.299 5.70101 22 11.5 22C13.949 22 16.2023 21.1615 17.9883 19.756L22.3661 24.1339C22.8543 24.622 23.6457 24.622 24.1339 24.1339C24.622 23.6457 24.622 22.8543 24.1339 22.3661L19.756 17.9883C21.1615 16.2023 22 13.949 22 11.5C22 5.70101 17.299 1 11.5 1Z"
          ></path>
        </svg>
        <form action="/search" method="get" class="w-[calc(100%-32px)]" id="searchForm">
          <input
            type="text"
            placeholder="Search"
            class="bg-transparent w-full border-none outline-none text-[#f3f5f7] text-[15px] leading-[1.5rem]"
            name="q"
            id="searchInput"
          />
        </form>
        <svg class="cursor-pointer p-2 mr-4" viewBox="0 0 24 24" width="32" height="32" onclick="document.getElementById('searchInput').value = '';">
          <path
          fill="#4a4a4a" 
            d="M12 0a12 12 0 1 0 12 12A12 12 0 0 0 12 0Zm5.139 16.056a.766.766 0 1 1-1.083 1.083L12 13.083 7.944 17.14a.766.766 0 0 1-1.083-1.083L10.917 12 6.86 7.944a.766.766 0 0 1 1.083-1.083L12 10.917l4.056-4.056a.766.766 0 0 1 1.083 1.083L13.083 12Z"
          ></path>
        </svg>
      </div>
    </div>

    {{#each infomations}}
    {{> info}}
    {{/each}}
</div>
<script>
document.getElementById('searchInput').focus();
async function followUser(event) {
  const id = event.target.id;
  const response = await fetch(`http://localhost:3000/profile/follow/${id}`, {
    method: 'PUT',
  });
if (response.ok) {
  const button = document.getElementById(id);
  const num_follow = document.getElementById('follow-number-' + id);

  const currentFollowCount = parseInt(num_follow.innerHTML.split(' ')[0]); 

  if (button.innerHTML === 'Follow') {
    button.innerHTML = 'Following';
    button.classList.remove('text-[#F3F5F7]');
    button.classList.add('text-[#333333]');
    num_follow.innerHTML = `${currentFollowCount + 1} followers`;
  } else {
    button.innerHTML = 'Follow';
    button.classList.remove('text-[#333333]');
    button.classList.add('text-[#F3F5F7]');
    num_follow.innerHTML = `${currentFollowCount - 1} followers`;
  }
}

}
</script>