<div class="flex gap-3 border-b border-[#333333] py-2 mx-4 sm:py-4 sm:mx-6">
    <img id="avatar" src="{{commentId.avatar}}" class="w-[36px] h-[36px] rounded-full"/>
    <div class="flex flex-col w-full">
        <div class="flex gap-2 text-[#f3f5f7]">
            <span class="hover:underline">{{commentId.username}}</span>
            <span class="text-[#777777]">{{formatTime date}}</span>
        </div>
        <span id="content" class="thread-content">{{comment}}</span>
    </div>
</div>