<div class="notification-card unread">
  <div class="notification-icon">
    <img src="{{avatar}}" alt="icon" />
  </div>
  <div class="notification-right">
    <div class="notification-header">
      <div class="notification-user-name">{{username}}</div>
      <div class="notification-time">{{time}}</div>
    </div>
    <p class="notification-message">
      {{content}}
    </p>
  </div>
  <div class="notification-unread-mark"></div>
  <span class="close">&times;</span>
</div>