* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
.login-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  background-image: url("../image/background_thread.webp");
  background-size: 140% auto;
  background-repeat: no-repeat;
  background-position: -480px -57px;
}

.login-page__form {
  background-color: rgba(0, 0, 0, 0);
  width: 350px;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

.login-page__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  position: relative;
}

#input-format {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-format input {
  width: 100%;
  height: auto;
  font-size: 15px;
  border-radius: 12px;
  line-height: 140%;
  padding: 16px;
  border: 1px solid transparent;
  margin: 5px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
#input-format span {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: "translateY(-50%)";
  color: white;
  cursor: pointer;
  font-size: 25px;
}
.login-page__button {
  width: 100%;
  padding: 20px;
  background-color: white;
  height: 100%;
  color: rgba(16, 16, 16);
  border: none;
  border-radius: 12px;
  font-weight: bold;
  margin: 5px 0px;
  cursor: pointer;
}

.login-page__button:disabled {
  cursor: not-allowed;
  color: rgba(16, 16, 16, 0.4);
}

.login-page__forgot-password {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.login-page__separator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.login-page__separator hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.login-page__separator span {
  font-size: 14px;
  margin: 0 10px;
}

.login-page__instagram-login {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-page__instagram-login img {
  margin: 5px;
}
.login-page__instagram-login p {
  margin: 10px;
  font-weight: bolder;
  font-size: 16px;
}
.login-page__instagram-login span {
  font-size: 14px;
  color: white;
}

.login-page__arrow {
  font-size: 18px;
}

.login-page__footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
.login-page__footer-links a {
  transition: text-decoration 0.1s ease;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
.login-page__footer-links a:hover {
  text-decoration: underline;
}
.login-page__forgot-password {
  font-size: 16px;
}

.login-page__error-notification {
  position: fixed;
  bottom: 20px; /* Position it slightly above the bottom */
  left: 50%;
  transform: translate(-50%, 0); /* Center horizontally */
  background-color: white; /* Background color for the notification */
  color: black; /* Text color */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
  animation: slideUp 0.5s forwards, stay 3s forwards 0.5s,
    slideDown 0.5s forwards 3.5s; /* Slide up, stay for 3s, then slide down */
  opacity: 1; /* Start fully visible */
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 20px); /* Start slightly below */
    opacity: 0; /* Start invisible */
  }
  100% {
    transform: translate(-50%, 0); /* End at original position */
    opacity: 1; /* End visible */
  }
}

/* Animation for staying in position */
@keyframes stay {
  0% {
    opacity: 1; /* Fully visible */
  }
  100% {
    opacity: 1; /* Remain fully visible */
  }
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, 0); /* Start at original position */
    opacity: 1; /* Start fully visible */
  }
  100% {
    transform: translate(-50%, 20px); /* Move down slightly */
    opacity: 0; /* Fade out to invisible */
  }
}

@media screen and (max-width: 480px) {
  .login-page__error-notification {
    bottom: 40px;
  }
  .login-page {
    background-image: none;
  }

  .login-page__form {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
  }

  .login-page__title {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
  }

  .login-page__logo {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #input-format input {
    font-size: 14px;
    padding: 12px;
  }

  .login-page__button {
    padding: 15px;
  }

  .login-page__instagram-login {
    padding: 15px;
    gap: 5px;
  }

  .login-page__separator span {
    font-size: 12px;
  }

  .login-page__arrow {
    font-size: 16px;
  }

  .login-page__footer-links {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}
