* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  box-sizing: border-box;
  background-color: black;
  color: white;
}
.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.navigation-bar {
  width: 76px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
}

.main-content {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.mainpage__title {
  width: 50%;
  margin: 1rem;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: rgb(243, 245, 247);
}
.mainpage__filter {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 0.5px solid rgba(243, 245, 247, 0.15);
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.mainpage__filter:hover {
  transform: scale(1.1);
}
.content {
  width: 50%;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: rgb(16, 16, 16);
  border: 1px solid #333333;
}
.scroll::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
.scroll {
  height: 100%;
  overflow-y: scroll;
}
.navigation-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc((100vh - 520px) / 2);
  align-items: center;
}

.navigation-bar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar ul li a {
  color: #4a4a4a;
  transition: color 0.3s ease;
  display: flex;
  width: 100%;
  padding: 12px 18px;
  margin-top: 0.75rem;
  border-radius: 1rem;
}

.mainpage__selected svg {
  color: white;
  fill: white;
}
.navigation-bar .mainpage__footer li a:hover {
  color: white;
}
.navigation-bar .mainpage__menu a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.navigation-bar li:nth-child(3) a {
  background-color: rgba(255, 255, 255, 0.08);
}

.navigation-bar li:nth-child(3) a:hover {
  color: white;
}

.navigation-bar ul li a svg {
  stroke: currentColor;
  transition: fill 0.3s ease, stroke 0.3s ease;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.navigation-bar .mainpage__logo:hover {
  transform: scale(1.1);
}

.navigation-bar .mainpage__logo {
  margin-top: -7px;
  width: 34px;
  height: 34px;
}
.login_button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 1.5rem; 
  right: 1.5rem;
  z-index: 10;
}
.login_button span {
  background-color: rgb(243, 245, 247);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  border: 1px solid #333333;
}
.login_button a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
@media screen and (max-width: 480px) {
  .navigation-bar {
    width: 100%;
    height: 76px;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .mainpage__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .navigation-bar ul li:first-child {
    margin-left: 5%;
  }

  .navigation-bar ul li:last-child {
    margin-right: 5%;
  }
  .mainpage__logo,
  .mainpage__footer {
    display: none;
  }

  .navigation-bar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0px;
  }
  .navigation-bar li:nth-child(3) a {
    background-color: transparent;
  }
  .mainpage__selected svg {
    background-color: transparent;
  }
  .navigation-bar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-bar ul li a {
    padding: 0;
    margin: 0;
  }
  .mainpage__title {
    width: 100%;
  }

  .content {
    width: 100%;
    border-radius: 0px;
  }
}
