.notification-container {
    background-color: transparent;
    overflow-y: auto;
}
.notification-card {
    display: flex;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #333333; 
}
.notification-icon img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 0.75rem;
}
.notification-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.notification-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}
.notification-user-name {
    font-weight: bold;
    color: rgb(243, 245, 247);;
    font-size: 1rem;
}
.notification-time {
    margin-left: 0.5rem;
    color: rgb(119, 119, 119);
}
.notification-message {
    font-size: 0.95rem;
    line-height: 1.5;
}
.notification-unread-mark {
    background-color: rgb(99, 188, 218);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: auto;
    align-self: center;
}
