.overall-follow-panel .list-of-follow .modal {
  display: none;
}

.list-follower,
.list-following {
  color: rgb(119, 119, 119);
}

.activated {
  color: rgb(243, 245, 247);
  border-bottom: 0.8px solid rgb(243, 245, 247);
} 


